<a class="anchor" id="jump_to_top"></a>
# Data Import and Export
---

### Table of Contents
* [Reading flat files into data frames](#read_flat)
* [Reading from inline](#inline)
* [Parsing a vector](#parse)
* [Writing to a file](#write)
* [Read Excel files](#read_excel)
* [Write to an Excel file](#write_excel)

As you saw in the earlier notebooks some of R packages provide sample data for educational purposes. In the real world we would want to import our own data for analysis. Base R provides functions for reading and exporting data files but it's not as convenient, and fast as some of the other packages available to us. Here we will use the package **readr**, it is a part of *tidyverse* suite so no need to install it since we already have tidyverse. In order to use it we need to load tidyverse (or directly readr)

In [1]:
# Libraries
library(tidyverse)
library(openxlsx)  # for writing to Excel files
library(readxl)  # for reading Excel files

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

<a class="anchor" id="read_flat"></a>
## Reading flat files into data frames
Under the *data* folder we have a comma-separated value (CSV) file called `Telco-Customer-Churn.csv`. Let's try to load it using `read_csv()` function from readr:

In [2]:
telcoChurnDf <- read_csv("../data/Telco-Customer-Churn.csv")
print(telcoChurnDf)

Parsed with column specification:
cols(
  .default = col_character(),
  SeniorCitizen = col_integer(),
  tenure = col_integer(),
  MonthlyCharges = col_double(),
  TotalCharges = col_double()
)
See spec(...) for full column specifications.

# A tibble: 7,043 x 21
   customerID gender SeniorCitizen Partner Dependents tenure PhoneService
   <chr>      <chr>          <int> <chr>   <chr>       <int> <chr>
 1 7590-VHVEG Female             0 Yes     No              1 No
 2 5575-GNVDE Male               0 No      No             34 Yes
 3 3668-QPYBK Male               0 No      No              2 Yes
 4 7795-CFOCW Male               0 No      No             45 No
 5 9237-HQITU Female             0 No      No              2 Yes
 6 9305-CDSKC Female             0 No      No              8 Yes
 7 1452-KIOVK Male               0 No      Yes            22 Yes
 8 6713-OKOMC Female             0 No      No             10 No
 9 7892-POOKP Female             0 Yes     No             28 Yes
10 6388-TABGU Male               0 No      Yes            62 Yes
# ... with 7,033 more rows, and 14 more variables: MultipleLines <chr>,
#   InternetService <chr>, OnlineSecurity <chr>, OnlineBackup <chr>,
#   DeviceProtection <chr>, TechSupport <chr>, StreamingTV <chr>,
#   StreamingMovies <chr>, Contract <chr>, PaperlessBilling <chr>,
#   PaymentMethod <chr>, MonthlyCharges <dbl>, TotalCharges <dbl>, Churn <chr>

Note that I used `"../data/Telco-Customer-Churn.csv"` as the relative path to my notebook. If you are in your R-Bootcamp RProj you can simply provide the relative path from the parent directory, i.e. `"data/Telco-Customer-Churn.csv"`. This is particularly useful because let's say you need to copy this part of your code and use it in a different folder, e.g. sandbox, then you don't need to change the path.

As it appears from the look of printed data frame we immediately realize that `read_csv()` has automatically loaded our CSV file into a tibble data frame and associated it with the name we provided. We can also check its class:

In [3]:
class(telcoChurnDf)

[1] "tbl_df"     "tbl"        "data.frame"

If we look at the help page for `read_csv()` we can see what defaults were used for importing the file:

```read_csv(file, col_names = TRUE, col_types = NULL,
  locale = default_locale(), na = c("", "NA"), quoted_na = TRUE,
  quote = "\"", comment = "", trim_ws = TRUE, skip = 0, n_max = Inf,
  guess_max = min(1000, n_max), progress = show_progress())```
  
To get details for each of these parameters scroll down to see descriptions and examples.

We started with `read_csv()` since it's by far the most popular *flat file*. But not all the rectangular files have their fields separated by a comma (","). Most common *delimiter-separated values* (DSV) files are: comma (",", also CSV), tab ("    ", also TSV), colon (";"), and pipe ("|"). `read_delim()` is a generic function that can handle different delimiters, note that the second argument `delim` must be provided:


```read_delim(file, delim, quote = "\"", escape_backslash = FALSE,
  escape_double = TRUE, col_names = TRUE, col_types = NULL,
  locale = default_locale(), na = c("", "NA"), quoted_na = TRUE,
  comment = "", trim_ws = FALSE, skip = 0, n_max = Inf,
  guess_max = min(1000, n_max), progress = show_progress())```

There are several different functions to support other formats such as fixed width files, and log files. To learn more visit [readr.tidyverse.org](https://readr.tidyverse.org/)

<div style="text-align: right"> [[Jump to top]](#jump_to_top) </div>
<a class="anchor" id="inline"></a>
## Reading from inline 
Any of these functions will work with reading inline instead of a file. This is primarily useful for experimentation:

In [4]:
read_csv("a,b,c
1,2,3
4,5,6")

  a b c
1 1 2 3
2 4 5 6

In [5]:
sampleDf <- read_csv("a,b,c
1,2,3
4,5,6")
print(sampleDf)

# A tibble: 2 x 3
      a     b     c
  <int> <int> <int>
1     1     2     3
2     4     5     6

In [6]:
calDf <- read_delim("First 2 lines to be skipped!
Calendar for September 2018
Mon|Tue|Wed|Thu|Fri|MONTH
3|4|5|6|7|September
10|11|12|13|14|September
17|18|19|20|21|September
24|25|26|27|28|September",
delim = "|",
skip = 2)

calDf

  Mon Tue Wed Thu Fri MONTH
1  3   4   5   6   7  September
2 10  11  12  13  14  September
3 17  18  19  20  21  September
4 24  25  26  27  28  September

In [7]:
print(calDf)

# A tibble: 4 x 6
    Mon   Tue   Wed   Thu   Fri MONTH
  <int> <int> <int> <int> <int> <chr>
1     3     4     5     6     7 September
2    10    11    12    13    14 September
3    17    18    19    20    21 September
4    24    25    26    27    28 September

The data might not come with column name, we can tell the function that don't use the first row as column name by `col_names = FALSE`, which is the default behavior:

In [8]:
read_csv("1,2,3\n4,5,6", col_names = FALSE)

  X1 X2 X3
1 1  2  3
2 4  5  6

`read_csv()` is providing names for the columns, we can also specify them manually:

In [9]:
read_csv("1,2,3\n4,5,6", col_names = c("x", "y", "z"))

  x y z
1 1 2 3
2 4 5 6

---
<div style="text-align: right"> [[Jump to top]](#jump_to_top) </div>

### Exercise 1
Sometimes strings in a CSV file contain commas. To prevent them from causing problems they need to be surrounded by a quoting character, like `"` or `'`. By convention, `read_csv()` assumes that the quoting character will be `"`, and if you want to change it you'll need to use `read_delim()` instead. What arguments do you need to specify to read the following text into a data frame?

> `"x,y\n1,'a,b'"`

---
### Exercise 2
Identify what is wrong with each of the following inline CSV files. What happens when you run the code?

> ```
read_csv("a,b\n1,2,3\n4,5,6")
read_csv("a,b,c\n1,2\n1,2,3,4")
read_csv("a,b\n1,2\na,b")
read_csv("a;b\n1;3")```

---
<div style="text-align: right"> [[Jump to top]](#jump_to_top) </div>

<a class="anchor" id="parse"></a>
## Parsing a vector
Behind the scene readr is using a series of functions called `parse_*()` to import the columns in the data. For instance

In [10]:
parse_logical(c("TRUE", "FALSE", "NA"))

[1]  TRUE FALSE    NA

In [11]:
parse_integer(c("1", "2", "3"))

[1] 1 2 3

In [12]:
parse_date(c("2010-01-01", "1979-10-14"))

[1] "2010-01-01" "1979-10-14"

We can specify the `NA` values as they appear differently in various datasets:

In [13]:
parse_integer(c("1", "231", ".", "456"), na = ".")

[1]   1 231  NA 456

When parsing fails we get a warning

In [14]:
x <- parse_integer(c("123", "345", "abc", "123.45"))

Warning message in rbind(names(probs), probs_f):
“number of columns of result is not a multiple of vector length (arg 1)”Warning message:
“2 parsing failures.
row # A tibble: 2 x 4 col     row   col expected               actual expected   <int> <int> <chr>                  <chr>  actual 1     3    NA an integer             abc    row 2     4    NA no trailing characters .45
”

In [15]:
x

[1] 123 345  NA  NA
attr(,"problems")
# A tibble: 2 x 4
    row   col expected               actual
  <int> <int> <chr>                  <chr>
1     3    NA an integer             abc
2     4    NA no trailing characters .45

In [16]:
# If we get too many warning we can use `problems()` to list all of them:
problems(x)

  row col expected               actual
1 3   NA  an integer             abc
2 4   NA  no trailing characters .45

---
<div style="text-align: right"> [[Jump to top]](#jump_to_top) </div>
<a class="anchor" id="write"></a>
## Writing to a file
Similar to how we read a file from disk we can write one. We can use `write_csv()`, `write_delim()`, and other functions depending on our need. Earlier in this notebook we created `calDf`, a data frame from an inline text which was delimited by "|". Let's write this data frame to file, we can use any of the common delimiters, I pick CSV here:

In [17]:
calDf

  Mon Tue Wed Thu Fri MONTH
1  3   4   5   6   7  September
2 10  11  12  13  14  September
3 17  18  19  20  21  September
4 24  25  26  27  28  September

In [18]:
write_csv(calDf, path = "../tmp/calDf.csv")

In [19]:
# Reading the first 3 rows from disk
calDfNew <- read_csv("../tmp/calDf.csv", n_max = 3)
calDfNew

Parsed with column specification:
cols(
  Mon = col_integer(),
  Tue = col_integer(),
  Wed = col_integer(),
  Thu = col_integer(),
  Fri = col_integer(),
  MONTH = col_character()
)

  Mon Tue Wed Thu Fri MONTH
1  3   4   5   6   7  September
2 10  11  12  13  14  September
3 17  18  19  20  21  September

---
<div style="text-align: right"> [[Jump to top]](#jump_to_top) </div>

<a class="anchor" id="read_excel"></a>
## Read Excel files
We will be using package readxl from tidyverse, but is not a core package so it needs to be loaded explicitly which we did at the top of this notebook. readxl comes with some sample files, we can access to a list of these files by `readxl_example()`

In [20]:
readxl_example()

 [1] "clippy.xls"    "clippy.xlsx"   "datasets.xls"  "datasets.xlsx"
 [5] "deaths.xls"    "deaths.xlsx"   "geometry.xls"  "geometry.xlsx"
 [9] "type-me.xls"   "type-me.xlsx"

Let's get the path for one of these sample files by giving the name of the sample to `readxl_example()`

In [21]:
xlsExamplePath <- readxl_example('datasets.xlsx')
xlsExamplePath

[1] "/Library/Frameworks/R.framework/Versions/3.5/Resources/library/readxl/extdata/datasets.xlsx"

This object is nothing but a path to the file, now having this path we can check out the sheets names with `excel_sheets()`:

In [22]:
excel_sheets(xlsExamplePath)

[1] "iris"     "mtcars"   "chickwts" "quakes"

and read any of these sheets into a data frame by `read_excel()`:

In [23]:
mtcarsDf <- read_excel(xlsExamplePath, sheet = 'mtcars')
print(mtcarsDf)

# A tibble: 32 x 11
     mpg   cyl  disp    hp  drat    wt  qsec    vs    am  gear  carb
   <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
 1  21       6  160    110  3.9   2.62  16.5     0     1     4     4
 2  21       6  160    110  3.9   2.88  17.0     0     1     4     4
 3  22.8     4  108     93  3.85  2.32  18.6     1     1     4     1
 4  21.4     6  258    110  3.08  3.22  19.4     1     0     3     1
 5  18.7     8  360    175  3.15  3.44  17.0     0     0     3     2
 6  18.1     6  225    105  2.76  3.46  20.2     1     0     3     1
 7  14.3     8  360    245  3.21  3.57  15.8     0     0     3     4
 8  24.4     4  147.    62  3.69  3.19  20       1     0     4     2
 9  22.8     4  141.    95  3.92  3.15  22.9     1     0     4     2
10  19.2     6  168.   123  3.92  3.44  18.3     1     0     4     4
# ... with 22 more rows

if `sheet` parameter is not specified it'll go to the default which is the first sheet.

We can read only a subset of the cell by an Excel-specified notation:

In [24]:
read_excel(xlsExamplePath, range = "C1:E4")

  Petal.Length Petal.Width Species
1 1.4          0.2         setosa
2 1.4          0.2         setosa
3 1.3          0.2         setosa

In [25]:
head(read_excel(xlsExamplePath, range = cell_cols("B:D")))

  Sepal.Width Petal.Length Petal.Width
1 3.5         1.4          0.2
2 3.0         1.4          0.2
3 3.2         1.3          0.2
4 3.1         1.5          0.2
5 3.6         1.4          0.2
6 3.9         1.7          0.4

In [26]:
read_excel(xlsExamplePath, range = "mtcars!B1:D5")

  cyl disp hp
1 6   160  110
2 6   160  110
3 4   108   93
4 6   258  110

<div style="text-align: right"> [[Jump to top]](#jump_to_top) </div>
<a class="anchor" id="write_excel"></a>
## Write to an Excel file
tidyverse doesn't have a package for writing to an Excel file. We will use `write.xlsx()` from **openxlsx**. This package needs to be installed and loaded. Follow the instructions on the setup notebook for installation.

R base comes with sample data frames (e.g., iris, mtcars), let's write some of them into an Excel file:

In [27]:
l <- list(iris = iris, mtcars = mtcars, chickwts = chickwts, quakes = quakes)
openxlsx::write.xlsx(l, file = "../tmp/datasets.xlsx")

Reminder: `openxlsx::` is optional, just a good practice for showing that unlike all of the other packages used in this notebook `write.xlsx()` is not from tidyverse.

### Practice
Run the last command to create and populate an Excel file. Pick one or two sheets from the `.xlsx` file that we just created and read them into your R memory. Try to read different cuts using Excel notation discussed above.

In [28]:
# Your code goes here

### Other types of data
* **haven** reads SPSS, Stata, and SAS files
* **DBI**, along with a database specific backend (e.g. RMySQL, RSQLite, RPostgreSQL etc) allows you to run SQL queries against a database and return a data frame
* For hierarchical data: use **jsonlite** for json, and **xml2** for XML

<div style="text-align: right"> [[Jump to top]](#jump_to_top) </div>