# Iteration
---

In [1]:
# Attaching libraries
library(tidyverse)

# install.packages('nycflights13')  
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Exercise 1

In [2]:
output <- vector("double", ncol(mtcars))
names(output) <- names(mtcars)
for (i in names(mtcars)) {
  output[i] <- mean(mtcars[[i]])
}
output

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

We need to use a list, not a character vector, since the class can have multiple values.

In [3]:
output <- vector("list", ncol(flights))
names(output) <- names(flights)
for (i in seq_along(flights)) {
    output[[i]] <- class(flights[[i]])
}
output

$year
[1] "integer"

$month
[1] "integer"

$day
[1] "integer"

$dep_time
[1] "integer"

$sched_dep_time
[1] "integer"

$dep_delay
[1] "numeric"

$arr_time
[1] "integer"

$sched_arr_time
[1] "integer"

$arr_delay
[1] "numeric"

$carrier
[1] "character"

$flight
[1] "integer"

$tailnum
[1] "character"

$origin
[1] "character"

$dest
[1] "character"

$air_time
[1] "numeric"

$distance
[1] "numeric"

$hour
[1] "numeric"

$minute
[1] "numeric"

$time_hour
[1] "POSIXct" "POSIXt"

In [4]:
data("iris")
iris_uniq <- vector("double", ncol(iris))
names(iris_uniq) <- names(iris)
for (i in names(iris)) {
  iris_uniq[i] <- length(unique(iris[[i]]))
}
iris_uniq

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
          35           23           43           22            3

---
## Exercise 2

In [5]:
str_c(letters, collapse = "")

[1] "abcdefghijklmnopqrstuvwxyz"

In [6]:
x <- sample(100)
sd(x)

[1] 29.01149

Or if there was a need to use the equation (e.g. for pedagogical reasons), then the functions `mean()` and `sum()` already work with vectors:

In [7]:
sqrt(sum((x - mean(x)) ^ 2) / (length(x) - 1))

[1] 29.01149

---
## Exercise 3

In [8]:
show_mean <- function(df, digits = 2) {
    for (nm in names(df)){
        if (is.numeric(df[[nm]])) {
            cat(paste(nm, format(mean(df[[nm]]), digits = digits, nsmall = digits)), "\n")
        }
    }
}

In [9]:
show_mean(iris)

Sepal.Length 5.84
Sepal.Width 3.06
Petal.Length 3.76
Petal.Width 1.20