# Data Import and Export
---

In [3]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.0.0     ✔ purrr   0.2.5
✔ tibble  1.4.2     ✔ dplyr   0.7.6
✔ tidyr   0.8.1     ✔ stringr 1.3.1
✔ readr   1.1.1     ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

---
### Exercise 1

In [4]:
read_delim("x,y\n1,'a,b'", delim = ",", quote = "\'")

  x y
1 1 a,b

---
### Exercise 2

In [5]:
read_csv("a,b\n1,2,3\n4,5,6")

Warning message:
“2 parsing failures.
row # A tibble: 2 x 5 col     row col   expected  actual    file         expected   <int> <chr> <chr>     <chr>     <chr>        actual 1     1 <NA>  2 columns 3 columns literal data file 2     2 <NA>  2 columns 3 columns literal data
”

  a b
1 1 2
2 4 5

Only two columns are specified in the header

In [6]:
read_csv("a,b,c\n1,2\n1,2,3,4")

Warning message:
“2 parsing failures.
row # A tibble: 2 x 5 col     row col   expected  actual    file         expected   <int> <chr> <chr>     <chr>     <chr>        actual 1     1 <NA>  3 columns 2 columns literal data file 2     2 <NA>  3 columns 4 columns literal data
”

  a b c
1 1 2 NA
2 1 2  3

Number of columns don't match

In [11]:
read_csv("a,b\n1,2\na,b")

  a b
1 1 2
2 a b

because we have characters in the second row both columns are treated as character. You can see this by printing that statement (not needed if you execute it in RStudio)

In [12]:
print(read_csv("a,b\n1,2\na,b"))

# A tibble: 2 x 2
  a     b
  <chr> <chr>
1 1     2
2 a     b

In [13]:
read_csv("a;b\n1;3")

  a;b
1 1;3

The values are separated by ";". We can fix it by specifying it in `read_delim()`

In [14]:
read_delim("a;b\n1;3", delim = ";")

  a b
1 1 3

In [15]:
readxl